<%@ Master Language="C#" AutoEventWireup="true" CodeFile="masterpage.master.cs" Inherits="masterpage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="Body" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
